{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
    <!-- Masthead-->
    <header class="masthead  text-black text-center">
        <h2>{{ projet.Nom }}</h2>
        <p>{{ projet.Description }}</p>
    </header>

    <body id="page-top">


    </body>

{% endblock %}
